:root {
    --bigBox: rgba(0, 0, 0, 0.7);
    --background: rgba(0, 0, 0, 0.80);
    --inputColor: #F1FAEE;
    --title: white;
    --buttoncolor: rgba(0, 0, 0, 0.6);
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

#box-login {
    background: var(--bigBox);
    width: 25em;
    height: 35em;
    margin: 5em auto;
    border-radius: 30px;
    color: var(--inputColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    color: var(--title);
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-top: 4px;
    text-align: center;
}

.options {
    color: var(--title);
    padding: 0;
    margin-bottom: 4px;
    margin-top: 14px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 28%;
    padding-top: 35px;
    margin-top: 30px;
    color: var(--inputColor);
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 5%;
    padding-top: 2%;
    margin: 0.3em auto;
}

.input {
    margin: 10px;
    background-color: var(--inputColor);
    color: var(--bigBox);
    border: 0;
    border-radius: 6px;
    height: 1.6em;
    width: 14em;
}

button {
    background-color: var(--inputColor);
    color: var(--buttoncolor);
    border: 1px solid var(--background);
    border-radius: 10px;
    margin: 28% auto;
    margin-top: 14px;
    padding: 8px;
    width: 140px;
    text-align: center;
    font-weight: bold;
    position: relative;
    transition: .3s ease all;
}

button:hover {
    color: var(--bigBox);
    top: -2px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: var(--inputColor);
}

.register-box {
    margin-top: 10px;
    padding: 0;
}

#register {
    margin: 5% auto;
    width: 140px;
}

#loginbutton{
    margin-top: 20%;
}