:root{
    --background: #141414;
    --words: #FFFF;
    --colortabel: #2e2e2e;
    --colorbotton: #3f3f3f;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
body{
    background-color: var(--background);
    font-family: 'Times New Roman', Times, serif;
    color: var(--words);
}
main{
 
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.imagem{
    width: 20%;
    margin-right: 10%;
}
main .sub-header{
    display: flex;
    background-color: var(--colortabel);
    padding: 1.5%;
    margin-bottom: 3%;
    margin-top: 4%;
}
main .content{   
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}

.title{
    margin-bottom: 8%;
    font-size: 25px;
}
.text{
    font-size: 16px;
    text-align: justify;
}
.button{
    margin-bottom: 5px;
    background: var(--colorbotton);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1.4%;
    font-size: 16px;
}
.play{
    height: 25px;
    align-items: center;
    margin-right: 3%;
    margin-left: 2.5%;
}

.backBar{
    background-color: var(--colortabel);
}