/* Estiliza a pagina index */
body {
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(240, 244, 247);
    transition: all 0.2s;
}

a:hover {
    color: aliceblue;
}

ul.navBar {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 3em;
    display: flex;
    overflow: hidden;
    transition: all 0.2;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.80);
}

li.navBar {
    margin: 5%;
    font-size: large;
    align-items: center;
}

table {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

tr {
    width: 250px;
    height: 300px;
}

td {
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: 2cm;
    transition: all 0.2s;
}

td:hover {
    background-color: rgb(170, 170, 170);
    
}

#albuns img {
    max-width: 250px;
    max-height: 205px;
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 5px;
}

#albuns a {
    text-decoration: none;
}